<a href="https://colab.research.google.com/github/mohmaed7777/Covid-19-pandamic-repo/blob/main/COVID_19_World_Vaccination_Progress.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Description:**

**COVID-19 World Vaccination Progress:**

**Content:**


The data contains the following information:


**Country**- this is the country for which the vaccination information is provided.

Country ISO Code - ISO code for the country;

**Date**- date for the data entry; for some of the dates we have only the daily vaccinations, for others, only the (cumulative) total;
**Total number of vaccinations** - this is the absolute number of total immunizations in the country;
**Total number of people vaccinated** - a person, depending on the immunization scheme, will receive one or more (typically 2) vaccines; at a certain moment, the number of vaccination might be larger than the number of people;
Total number of people fully vaccinated - this is the number of people that received the entire set of immunization according to the immunization scheme (typically 2); at a certain moment in time, there might be a certain number of people that received one vaccine and another number (smaller) of people that received all vaccines in the scheme;
Daily vaccinations (raw) - for a certain data entry, the number of vaccination for that date/country;
Daily vaccinations - for a certain data entry, the number of vaccination for that date/country;
Total vaccinations per hundred - ratio (in percent) between vaccination number and total population up to the date in the country;
Total number of people vaccinated per hundred - ratio (in percent) between population immunized and total population up to the date in the country;
Total number of people fully vaccinated per hundred - ratio (in percent) between population fully immunized and total population up to the date in the country;
Number of vaccinations per day - number of daily vaccination for that day and country;
Daily vaccinations per million - ratio (in ppm) between vaccination number and total population for the current date in the country;
Vaccines used in the country - total number of vaccines used in the country (up to date);
Source name - source of the information (national authority, international organization, local organization etc.);
Source website - website of the source of information;

In [26]:
import pandas as pd
import matplotlib.pyplot as plt 
import numpy as np
import seaborn as sns 
import datetime
sns.set()
%matplotlib inline
%config InlineBackend.figure_formats=['retina']
%pylab inline 
print('Setup Completed!')

Populating the interactive namespace from numpy and matplotlib
Setup Completed!

In [27]:
df = pd.read_csv('/content/country_vaccinations.csv', date_parser=True)
df.head()

     country  ...                                     source_website
0  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
1  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
2  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
3  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...
4  Argentina  ...  http://datos.salud.gob.ar/dataset/vacunas-cont...

[5 rows x 15 columns]

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1267 entries, 0 to 1266
Data columns (total 15 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   country                              1267 non-null   object
 1   iso_code                             1118 non-null   object
 2   date                                 1267 non-null   object
 3   total_vaccinations                   825 non-null    float64
 4   people_vaccinated                    794 non-null    float64
 5   people_fully_vaccinated              167 non-null    float64
 6   daily_vaccinations_raw               655 non-null    float64
 7   daily_vaccinations                   1210 non-null   float64
 8   total_vaccinations_per_hundred       825 non-null    float64
 9   people_vaccinated_per_hundred        794 non-null    float64
 10  people_fully_vaccinated_per_hundred  167 non-null    float64
 11  daily_vaccinations_per_million       1210 non-null   float64
 12  vaccines                             1267 non-null   object
 13  source_name                          1267 non-null   object
 14  source_website                       1267 non-null   object
dtypes: float64(9), object(6)
memory usage: 148.6+ KB

In [36]:
 
 #Parsing the date: 
df['date_parsed'] = pd.to_datetime(df['date'], format='%Y-%m-%d')

In [37]:
df['date_parsed'].dtype

dtype('<M8[ns]')

In [38]:
# Dealing with the missing_values : 
missing_values = df.isnull().sum()
missing_values[:10]

country                              0
iso_code                           149
date                                 0
total_vaccinations                 442
people_vaccinated                  473
people_fully_vaccinated           1100
daily_vaccinations_raw             612
daily_vaccinations                  57
total_vaccinations_per_hundred     442
people_vaccinated_per_hundred      473
dtype: int64

In [39]:
# Get the percentage value of the missing data :
total_cells = np.product(df.shape)
total_missings = missing_values.sum()
percent = (total_missings / total_cells ) * 100
print(str(int(percent)) + '%')

24%

In [40]:
df.shape

(1267, 16)

In [41]:
df.columns.tolist()

['country',
 'iso_code',
 'date',
 'total_vaccinations',
 'people_vaccinated',
 'people_fully_vaccinated',
 'daily_vaccinations_raw',
 'daily_vaccinations',
 'total_vaccinations_per_hundred',
 'people_vaccinated_per_hundred',
 'people_fully_vaccinated_per_hundred',
 'daily_vaccinations_per_million',
 'vaccines',
 'source_name',
 'source_website',
 'date_parsed']

In [52]:
df.head()

     country  ...  date_parsed
0  Argentina  ...   2020-12-29
1  Argentina  ...   2020-12-30
2  Argentina  ...   2020-12-31
3  Argentina  ...   2021-01-01
4  Argentina  ...   2021-01-02

[5 rows x 14 columns]

In [53]:
df.drop(['source_name','source_website'],axis=1, inplace=True)
df.head()

     country  total_vaccinations  ...   vaccines  date_parsed
0  Argentina               700.0  ...  Sputnik V   2020-12-29
1  Argentina                 NaN  ...  Sputnik V   2020-12-30
2  Argentina             32013.0  ...  Sputnik V   2020-12-31
3  Argentina                 NaN  ...  Sputnik V   2021-01-01
4  Argentina                 NaN  ...  Sputnik V   2021-01-02

[5 rows x 12 columns]

In [54]:
# Fill on any colums of at least one missing_data(NA) with zero by using fillna() method:  
df.fillna(0,axis=0, inplace=True)

In [55]:
df.head()

     country  total_vaccinations  ...   vaccines  date_parsed
0  Argentina               700.0  ...  Sputnik V   2020-12-29
1  Argentina                 0.0  ...  Sputnik V   2020-12-30
2  Argentina             32013.0  ...  Sputnik V   2020-12-31
3  Argentina                 0.0  ...  Sputnik V   2021-01-01
4  Argentina                 0.0  ...  Sputnik V   2021-01-02

[5 rows x 12 columns]

In [56]:
df.tail()

     country  ...  date_parsed
1262   Wales  ...   2021-01-16
1263   Wales  ...   2021-01-17
1264   Wales  ...   2021-01-18
1265   Wales  ...   2021-01-19
1266   Wales  ...   2021-01-20

[5 rows x 12 columns]

In [57]:
df['country'].unique()

array(['Argentina', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Bulgaria',
       'Canada', 'Chile', 'China', 'Costa Rica', 'Croatia', 'Cyprus',
       'Czechia', 'Denmark', 'England', 'Estonia', 'Finland', 'France',
       'Germany', 'Gibraltar', 'Greece', 'Hungary', 'Iceland', 'India',
       'Ireland', 'Isle of Man', 'Israel', 'Italy', 'Kuwait', 'Latvia',
       'Lithuania', 'Luxembourg', 'Malta', 'Mexico', 'Netherlands',
       'Northern Ireland', 'Norway', 'Oman', 'Poland', 'Portugal',
       'Romania', 'Russia', 'Saudi Arabia', 'Scotland', 'Serbia',
       'Seychelles', 'Singapore', 'Slovakia', 'Slovenia', 'Spain',
       'Sweden', 'Switzerland', 'Turkey', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Wales'], dtype=object)

In [59]:
df.describe().T

                                      count  ...          max
total_vaccinations                   1267.0  ...  17546374.00
people_vaccinated                    1267.0  ...  15053257.00
people_fully_vaccinated              1267.0  ...   2394961.00
daily_vaccinations_raw               1267.0  ...   1130189.00
daily_vaccinations                   1267.0  ...    913912.00
total_vaccinations_per_hundred       1267.0  ...        38.04
people_vaccinated_per_hundred        1267.0  ...        28.21
people_fully_vaccinated_per_hundred  1267.0  ...         9.83
daily_vaccinations_per_million       1267.0  ...     30869.00

[9 rows x 8 columns]